body {
	margin: 50px;
	padding: 0;
font-size: 0;
}
.letter-wrapper {
	display: inline-block;
	margin: 0 15px 60px 15px;

}
.letter{
	height: 200px;
	width: 150px;
	background-color: #f8f8f8;
	position: relative;
}
.container {
	
	background-color: #ff0;
	width: 150px;
	height: 150px;
	position: fixed;
	overflow: hidden;
	right: 25px;
	bottom: 25px;
}



.red-square {
	background-color: #f00;
	width: 100px;
	height:100px;
	position: absolute;
	bottom: 0px;
	right:  0px;

	
}

.blue-square{
	background-color: #00f;
	width: 100px;
	height:100px;
	
	}

.bar {
	position: absolute;
	background-color: #000;
	z-index: 2;
	

}

.vertical {
	height: 100%;
	width: 20%;

}

.horiztonal {
	height: 15%;
	width: 100%;

}

.mid {
	top: calc(43.5%);
	z-index: 1;
}
.right {
	right: 0px;
}
.red { background-color: red; }
.yellow { background-color: yellow; }
.blue { background-color: blue; }





















