
body {
	background-color: white;
	font-size: 15px;
	
}





    


    
    .list {
    	font-family: arial;
    	text-shadow: #11111;
    	text-align: left;
    	position: absolute;
    	top: 293px;
    	left: 610px;
    	font-size: 12px;
    
    }
 a:link {
    text-decoration: none;
    color: black;
    
}

a:hover {
	display: inline-block;
	text-decoration: underline;
	color:black;
}

a:active {
	background-color: yellow;
	text-decoration: line-through;
	color:black;
	
}
a:visted {
    text-decoration: none;
    color: black;
    
}

.K {
    font-family: arial;
    font-size: 210px;
    font-weight: bolder;
    position: absolute;
    left: 9px;
    top: 10px;
    transform: rotate(25deg);
    animation-iteration-count: infinite;
    
}

.A {
    font-family: arial;
    font-size: 320px;
    font-weight: bolder;
    position: absolute;
    left: 104px;
    top: -20px;
    transform: rotate(-40deg);
    
    
}

.R {
    font-family: arial;
    font-size: 290px;
    font-weight: bolder;
    position: absolute;
    left: 200px;
    top: 170px;
    transform: rotate(50deg);
    
}

.O {
    font-family: arial;
    font-size: 180px;
    font-weight: bolder;
    position: absolute;
    left: 303px;
    top: 354px;
    transform: rotate(10deg);
    
}

.L {
    font-family: arial;
    font-size: 360px;
    font-weight: bolder;
    position: absolute;
    left: 400px;
    top: 140px;
    transform: rotate(-10deg);
    
}

.I {
    font-family: arial;
    font-size: 360px;
    font-weight: bolder;
    position: absolute;
    left: 460px;
    top: 50px;
    transform: rotate(-30deg);
    
}

.N {
    font-family: arial;
    font-size: 370px;
    font-weight: bolder;
    position: absolute;
    left: 440px;
    top: -130px;
    transform: rotate(-40deg);
    
}

.A2 {
    font-family: arial;
    font-size: 290px;
    font-weight: bolder;
    position: absolute;
    left: 670px;
    top: -46px;
    transform: rotate(10deg);
    
}