
body{
	margin: 20px;
	font-size: 0;
}

.button {
	border: 1px solid #e5e5e5;
	font-size: 16px;
	padding: 10px 15px;
	color: #000;
	text-decoration:none;
}
.object {
	width: 200px;
	font-size: 50px;
	margin: 20px 20px 20px 0;
	text-align: center;
	display: inline-block;

}

.content{

}

.green {color: #0f0;}
.red {color: #f00;}
.blue {color: #00f;}