body {
    background-color: #ffc822;
    color: white;
    font-size: 30px;
    line-height: 100px;
    letter-spacing: 0px;
    font-family: Arial;
}

#myh1 {
    font-family:  "Times New Roman";
    
}
p{ 
    color: red;
    background-color: white;
    width: 100px;
    overflow: hidden;
    text-decoration: overline;
    
}

.special {
    background-color: purple;
    
}

.ontop {
    position: fixed;
    top: 0;
    right: 0;
    margin: 0;
    padding: 10px;
    border: 10px dotted blue;
    
    
}

a { 
    color: yellow;
    text-decoration: none;