* {
    color: black;
    
}

.wrapper {
    margin:  40px 40px 0 70px;
}

body {
    display: inline;
    font-family: helvetica, arial;
    font-size: 12px;

}




.p {
    position: fixed;
    top:400px;
    left: 40px;
}

.name {
    font-family: Helvetica, arial, san-serif;
    font-size: 12px;
    display: inline;
    color: #0000ff;
    

}
.name:hover {
    cursor: progress;
}

.major{
    font-family: Helvetica, arial, san-serif;
    text-decoration: underline;
    font-size: 12px;
    display: inline;
    

}
.major:hover {
    font-family:  cursive; ;
    background-color: transparent;
    cursor: pointer;
}

.school{
    font-family: Helvetica, arial, san-serif;
    text-decoration: underline;
    font-size: 12px;
    position: relative;
    width: 500px;
    height: 500px;
    display: inline;
    color: black;
    cursor: move;


}
.school:hover {
    font-family:  "Comic Sans MS" ;
    background-color: transparent;
    color:black;
    cursor: move;
    
}
.year{
    font-family: Helvetica, arial, san-serif;
    text-decoration: underline;
    font-size: 12px;
    position: relative;
    left: 174px;
    display: inline;
    color: black;
    cursor: move;

}


.space {
    font-family:  Helvetica, arial;
    font-size: 20px;
    position: absolute;
    left: 65px;
    top: 100px;
    z-index: 1;

}
a:link {
    color:black;
}


.projecttwo {
    font-family: Helvetica, arial;
    font-weight: bold;
    font-size: 19px;
    position: absolute;
    left: 202px;
    top: 133px;
    z-index: 3;

}



















