
a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: red;
}
.background {
    width: 2050px;
    height: 6000px;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
}


.collection{
    font-family: monospace;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 10px;
    color: red;  
    position: fixed;
    left: 37px;
    top: 25px;

}
.collection a {
color: red;
}
.collection a:hover {
color: black;
}

.title {
    font-family: monospace;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 10px;
    color: black;  

}


.d1 {
    position: fixed;
    top: 60px;
    left: 30px;
}

.d2 {
    position: fixed;
    top: 60px;
    left: 230px;
}
.d3 {
    position: fixed;
    top: 60px;
    left: 438px;
}
.d4{
    position: fixed;
    top: 60px;
    left: 647px;
}

.d5{
    position: fixed;
    top: 60px;
    left: 847px;
}
.d6{
    position: fixed;
    top: 60px;
    left: 1053px;
}
.c {
    position: relative;
    top: 40px;
    font-family: monospace;
    font-size: 6px;
    letter-spacing: 1px;


}

.c1 {
    display: inline-block;
    padding: 0 5px 0 0;
    font-size: 10px;
    margin: 0 0 0 30px;
    line-height: 15px;
    position: relative;
    top: -137px;

}

.c2 {
    display: inline-block;
    position: relative;
    top: 58px;
    padding: 0 5px 0 0;
    font-size: 10px;
    margin: 0 0 0 30px;
    line-height: 15px;
    
}
.c3 {
    display: inline-block;
    position: relative;
    top: -77px;
    padding: 0 5px 0 0;
    font-size: 10px;
    margin: 0 0 0 30px;
    line-height: 15px;
    
}
.c4 {
    display: inline-block;
    position: relative;
    top: -1247px;
    padding: 0 5px 0 0;
    font-size: 10px;
    margin: 0 0 0 30px;
    line-height: 15px;
    
}
.c5 {
    display: inline-block;
    position: relative;
    top: -306px;
    padding: 0 5px 0 0;
    font-size: 10px;
    margin: 0 0 0 30px;
    line-height: 15px;
    
}
.c6 {
    display: inline-block;
    position: relative;
   top: -5640px;
    padding: 0 5px 0 0;
    font-size: 10px;
    margin: 0 0 0 30px;
    line-height: 15px;
    
}
.c7 {
    display: inline-block;
    position: relative;
   top: 0px;
    padding: 0 5px 0 0;
    font-size: 10px;
    margin: 0 0 0 30px;
    line-height: 15px;
    
}

.c8 {
    display: inline-block;
    position: relative;
top: 0px;
    padding: 0 5px 0 0;
    font-size: 10px;
    margin: 0 0 0 30px;
    line-height: 15px;
    
}
.c9 {
    display: inline-block;
    position: relative;
    top: 0px;
    padding: 0 5px 0 0;
    font-size: 10px;
    margin: 0 0 0 30px;
    line-height: 15px;
    
}
.c10 {
    display: inline-block;
    position: relative;
    top: 0px;
    padding: 0 5px 0 0;
    font-size: 10px;
    margin: 0 0 0 30px;
    line-height: 15px;
    
}
.used {
    color:white;
}
.used a:hover {
    color: red;
}








