
.background {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}


.collection{
    font-family: monospace;
    font-size: 10px;
    color: red;  
    margin: 10px 0 0 30px;

}

.dewey {
    font-family: monospace;
    font-size: 10px;
    color: black;
    position: fixed;
    left: 30px;
    top: 30px;

}


.author {
    font-family: monospace;
    font-size: 10px;
    position: fixed;
    top: 30px;
    left: 80px;

}

.c1 {
    background: red;
    display: inline-block;
    margin: 30px 0px 0px 30px;
    padding: 0 55px 0 30px;
    font-size: 10px;
}









