
.background {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}


.collection{
    font-family: monospace;
    font-size: 10px;
    color: red;  
    margin: 50px 0 0 30px;

}

.dewey {
    font-family: monospace;
    font-size: 10px;
    color: black;
    position: fixed;
    left: 30px;
    top: 20px;

}


.author {
    font-family: monospace;
    font-size: 10px;
    position: fixed;
    top: 20px;
    left: 80px;

}
.c {
    position: relative;
    top: 40px;
    font-family: monospace;
    font-size: 10px;


}

.c1 {
    background: red;
    display: inline-block;
    padding: 0 30px 0 30px;
    font-size: 10px;
    margin: 0 0 0 30px;
}










