.background {
    margin: 20px;
}
.collection{
    font-family: monospace;
    font-size: 10px;
    color: red;
    position: absolute;
    left: 10px
    top: 30px;
    font-style: bold;



}

.dewey {
    font-family: monospace;
    font-size: 10px;
    color: black;
    position: fixed;
    top: 30px;
}


.author {
    font-family: monospace;
    font-size: 10px;
    color: black;
    position: fixed;
    top: 30px;
    left: 70px;
}