* {
    
}

a:link {
    color: black;
    text-decoration: none;
}
a:visted {
    text-decoration: none;
    color: #03C9EA;

}
a:hover {
    color: #03C9EA;
    text-decoration: none;
    cursor: pointer;

}
a:active {
    color:black;
}




.background{
    width: 1600px;
    height: 300px;
    background-color: #F9B60D;
    position: fixed;
    margin: -25px;

}
.p {
    position: fixed;
    top:400px;
    left: 40px;
}

.type {
    font-family: "Work Sans", Helvetica, arial;
    font-size: 60px;
    font-kerning: 10;
    position: fixed;
    left: 20px;
    top: 220px;
    line-height: 60px;

}


.space {
    font-family: "Work Sans", Helvetica, arial;
    font-size: 20px;
    position: absolute;
    left: 65px;
    top: 100px;
    z-index: 1;

}
a:link {
    color:black;
}


.projecttwo {
    font-family: "Work Sans", Helvetica, arial;
    font-size: 19px;
    position: absolute;
    left: 202px;
    top: 133px;
    z-index: 3;

}



.block {
    width: 90px;
    height: 30px;
    background-color: black;
    position: absolute;
    left: 40px;
    top: 110px;
}

.block2 {
    width: 90px;
    height: 30px;
    background-color: white;
    position: absolute;
    left: 50px;
    top: 100px;
}




.block3 {
    width: 90px;
    height: 30px;
    background-color: white;
    position: absolute;
    left: 200px;
    top: 130px;
    z-index: 1;
}
.block4 {
    width: 90px;
    height: 30px;
    background-color: black;
    position: absolute;
    left: 190px;
    top: 140px;
    
}

.block5{
    width: 90px;
    height: 30px;
    background-color: white;
    position: absolute;
    left: 200px;
    top: 130px;
    z-index: 1;
}
.block6 {
    width: 90px;
    height: 30px;
    background-color: black;
    position: absolute;
    left: 190px;
    top: 140px;
    
}















