body {
    width: 400px;
    padding: 25px;
    margin: 200px;
animation: pulse 20s infinite;
}
@keyframes pulse {
  0% {
    background-color: #7DAFA5;
  }
  100% {
    background-color: #604907;
  }

}

#myh1{ 
}
    

p{ 
    color: black;
    background-color: white;
    width: 100px;
    height:400px;
    overflow: hidden;
    text-decoration: none; 
    letter-spacing: 3px;

    
}


#para1{
    color: white;
    background-color: black;
    font-family: Arial;
    width: 300px;
    height:20px;
    text-decoration: none; 
    letter-spacing: 3px;
}

#box{
    background-color: black;
    font-family: Arial;
    width: 600px;
    height:20px;
    text-decoration: none; 
    letter-spacing: 3px;
}
#box2{
    width:200px;
height:10px;
margin:10px;
padding:10px;
float: left;
background-color:#604907;
position: fixed;
}


.ontop {
    position: fixed;
    top: 0;
    right: 0;
    margin: 0;
    padding: 10px;
    border: 10px groove;
    
    
}


a{
    font-family: Arial;
    text-decoration: none;
   
}
.title {
     font-family: helvetica, arial, bold;
    font-size: 20px;
    position: absolute;
    top:300px;
    right:300px;
    margin:-2;
    color: white;
    text-align: right;
 
}

.titlept2 {
     font-family: helvetica, arial, bold;
    font-size: 20px;
    position: absolute;
    top:300px;
    right:303px;
    margin:-2;
    color: black;
    text-align: right;
 
}
a:link {
    text-decoration: none;
    color: black;
}
a:active {
    text-decoration: none;
    color: yellow;
}



.title2 {
     font-family: helvetica, arial, bold;
    font-size: 20px;
    position: absolute;
    top:350px;
    right: 350px;
    margin:-2;
    color: white;
    text-align: right;
 
}

.title2pt2 {
     font-family: helvetica, arial, bold;
    font-size: 20px;
    position: absolute;
    top:350px;
    right: 352px;
    margin:-2;
    color: black;
    text-align: right;
    text-decoration: none;
 
}
a:link {
    text-decoration: none;
    color: black;
}
a:active {
    text-decoration: none;
    color: yellow;
}


.title3 {
     font-family: helvetica, arial, bold;
    font-size: 20px;
    position: absolute;
    top:400px;
    right: 400px;
    margin:-2;
    color: white;
    text-align: right;
 
}
.title3pt2 {
     font-family: helvetica, arial, bold;
    font-size: 20px;
    position: absolute;
    top:400px;
    right: 402px;
    margin:-2;
    color: black;
    text-align: right;
 
}
a:link {
    text-decoration: none;
    color: black;
}
a:active {
    text-decoration: none;
    color: yellow;
}


.title4 {
     font-family: helvetica, arial, bold;
    font-size: 20px;
    position: absolute;
    top:450px;
    right: 450px;
    margin:-2;
    color: white;
    text-align: right;
 
}
.title4pt2 {
     font-family: helvetica, arial, bold;
    font-size: 20px;
    position: absolute;
    top:450px;
    right: 452px;
    margin:-2;
    color: black;
    text-align: right;
 
}
a:link {
    text-decoration: none;
    color: black;
}
a:active {
    text-decoration: none;
    color: yellow;
}

.title5 {
     font-family: helvetica, arial, bold;
    font-size: 20px;
    position: absolute;
    top:500px;
    right: 500px;
    margin:-2;
    color: white;
    text-align: right;
 
}
.title5pt2 {
     font-family: helvetica, arial, bold;
    font-size: 20px;
    position: absolute;
    top:500px;
    right: 502px;
    margin:-2;
    color: black;
    text-align: right;
 
}
a:link {
    text-decoration: none;
    color: black;
}
a:active {
    text-decoration: none;
    color: yellow;
}
.title6 {
     font-family: helvetica, arial, bold;
    font-size: 20px;
    position: absolute;
    top:550px;
    right: 550px;
    margin:-2;
    color: white;
    text-align: right;
 
}
.title6pt2 {
     font-family: helvetica, arial, bold;
    font-size: 20px;
    position: absolute;
    top:550px;
    right: 552px;
    margin:-2;
    color: black;
    text-align: right;
}
a:link {
    text-decoration: none;
    color: black;
}
a:active {
    text-decoration: none;
    color: yellow;
}

.homepage {
     font-family: helvetica, arial, bold;
    font-size: 20px;
    position: absolute;
    top:600px;
    right: 600px;
    margin:-2;
    color: white;
    text-align: right;
 
}
.homepagept2 {
     font-family: helvetica, arial, bold;
    font-size: 20px;
    position: absolute;
    top:600px;
    right: 602px;
    margin:-2;
    color: black;
    text-align: right;
 
}
a:link {
    text-decoration: none;
    color: black;
}
a:active {
    text-decoration: none;
    color: yellow;
}.title {
     font-family: helvetica, arial, bold;
    font-size: 20px;
    position: absolute;
    top:300px;
    right:300px;
    margin:-2;
    color: white;
    text-align: right;
 
}

.titlept2 {
     font-family: helvetica, arial, bold;
    font-size: 20px;
    position: absolute;
    top:300px;
    right:303px;
    margin:-2;
    color: black;
    text-align: right;
 
}
a:link {
    text-decoration: none;
    color: black;
}
a:active {
    text-decoration: none;
    color: yellow;
}



.title2 {
     font-family: helvetica, arial, bold;
    font-size: 20px;
    position: absolute;
    top:350px;
    right: 350px;
    margin:-2;
    color: white;
    text-align: right;
 
}

.title2pt2 {
     font-family: helvetica, arial, bold;
    font-size: 20px;
    position: absolute;
    top:350px;
    right: 352px;
    margin:-2;
    color: black;
    text-align: right;
    text-decoration: none;
 
}
a:link {
    text-decoration: none;
    color: black;
}
a:active {
    text-decoration: none;
    color: yellow;
}


.title3 {
     font-family: helvetica, arial, bold;
    font-size: 20px;
    position: absolute;
    top:400px;
    right: 400px;
    margin:-2;
    color: white;
    text-align: right;
 
}
.title3pt2 {
     font-family: helvetica, arial, bold;
    font-size: 20px;
    position: absolute;
    top:400px;
    right: 402px;
    margin:-2;
    color: black;
    text-align: right;
 
}
a:link {
    text-decoration: none;
    color: black;
}
a:active {
    text-decoration: none;
    color: yellow;
}


.title4 {
     font-family: helvetica, arial, bold;
    font-size: 20px;
    position: absolute;
    top:450px;
    right: 450px;
    margin:-2;
    color: white;
    text-align: right;
 
}
.title4pt2 {
     font-family: helvetica, arial, bold;
    font-size: 20px;
    position: absolute;
    top:450px;
    right: 452px;
    margin:-2;
    color: black;
    text-align: right;
 
}
a:link {
    text-decoration: none;
    color: black;
}
a:active {
    text-decoration: none;
    color: yellow;
}

.title5 {
     font-family: helvetica, arial, bold;
    font-size: 20px;
    position: absolute;
    top:500px;
    right: 500px;
    margin:-2;
    color: white;
    text-align: right;
 
}
.title5pt2 {
     font-family: helvetica, arial, bold;
    font-size: 20px;
    position: absolute;
    top:500px;
    right: 502px;
    margin:-2;
    color: black;
    text-align: right;
 
}
a:link {
    text-decoration: none;
    color: black;
}
a:active {
    text-decoration: none;
    color: yellow;
}
.title6 {
     font-family: helvetica, arial, bold;
    font-size: 20px;
    position: absolute;
    top:550px;
    right: 550px;
    margin:-2;
    color: white;
    text-align: right;
 
}
.title6pt2 {
     font-family: helvetica, arial, bold;
    font-size: 20px;
    position: absolute;
    top:550px;
    right: 552px;
    margin:-2;
    color: black;
    text-align: right;
}
a:link {
    text-decoration: none;
    color: black;
}
a:active {
    text-decoration: none;
    color: yellow;
}

.homepage {
     font-family: helvetica, arial, bold;
    font-size: 20px;
    position: absolute;
    top:600px;
    right: 600px;
    margin:-2;
    color: white;
    text-align: right;
 
}
.homepagept2 {
     font-family: helvetica, arial, bold;
    font-size: 20px;
    position: absolute;
    top:600px;
    right: 602px;
    margin:-2;
    color: black;
    text-align: right;
 
}
a:link {
    text-decoration: none;
    color: black;
}
a:active {
    text-decoration: none;
    color: yellow;
}
