body {
    margin:100px;
    background-color:black;
    border-left-width: 600px
}

.scratchoff {
    width: 100%;
    height: auto;
    
}

.title {
    font-family: helvetica, arial; 
    font-size: 60px;
    position: fixed;
    top:0;
    right:0;
    margin:0;
    color: yellow;
    text-align: right;

}

.title2 {
     font-family: helvetica, arial; 
    font-size: 60px;
    position: fixed;
    top:0;
    right:4;
    margin:0;
    color: blue;
    text-align: right;
 
}

.title3 {
     font-family: helvetica, arial; 
    font-size: 60px;
    position: fixed;
    top:0;
    right:8;
    margin:0;
    color: orange;
    text-align: right;
 
}

.title4 {
     font-family: helvetica, arial; 
    font-size: 60px;
    position: fixed;
    top:0;
    right:15;
    margin:0;
    color: white;
    text-align: right;
 
}













.body {
    font-family: helvetica,arial;
    font-size:30px;
    position:fixed;
    top:430;
    right:20;
    margin:0;
    color: white;
    text-align: right;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  
}

 
.circle {
	width: 300px;
	height: 300px;
	background-color: white;
	border-radius: 150px;
	position:fixed;
    top:300;
    right:0;
    margin:0;
	
}

.circle2 {
    width: 40px;
	height: 40px;
	background-color: white;
	border-radius: 150px;
	position:fixed;
    top:300;
    right:0;
    margin:0;
    
}

.circle3 {
    width: 70px;
	height: 70px;
	background-color: blue;
	border-radius: 150px;
	position:fixed;
    top:360;
    right:400;
    margin:0;
    transition: all 8s;
}


    .circle4 {
    width: 100px;
	height: 100px;
	background-color: orange;
	border-radius: 150px;
	position:fixed;
    top:360;
    right:600;
    margin:0;
    
}

.circle5 {
    width: 100px;
	height: 100px;
	background-color: white;
	border-radius: 150px;
	position:fixed;
    top:100;
    right:660;
    margin:0;
    
}

.circle6 {
    width: 40px;
	height: 40px;
	background-color: blue;
	border-radius: 150px;
	position:fixed;
    top:50;
    right:800;
    margin:0;
    
}

.circle7 {
    width: 80px;
	height: 80px;
	background-color: orange;
	border-radius: 150px;
	position:fixed;
    top:30;
    right:400;
    margin:0;
    transition: all 10s;
}

.circle8 {
    width: 30px;
	height: 30px;
	background-color: yellow;
	border-radius: 150px;
	position:fixed;
    top:400;
    right:800;
    margin:0;
    transition: all 10s;
    
}

.circle9 {
    width: 30px;
	height: 30px;
	background-color: blue;
	border-radius: 150px;
	position:fixed;
    top:300;
    right:500;
    margin:0;
    
}

.circle10 {
    width: 20px;
	height: 20px;
	background-color: orange;
	border-radius: 150px;
	position:fixed;
    top:200;
    right:500;
    margin:0;
 
}

.circle12 {
    width: 90px;
	height: 90px;
	background-color: white;
	border-radius: 150px;
	position:fixed;
    top: 350;
    right:900;
    margin:0;
}

.circle13 {
    width: 20px;
	height: 20px;
	background-color: white;
	border-radius: 150px;
	position:fixed;
    top:500;
    right:900;
    margin:0;
}

