body {
	margin: 120px;
}

* {
font-family: helvetica, arial, sans-serif;
font-weight: bold;
color: black;
    
}

a:link {
    color: black;
    text-decoration: none;

}
a:visted {
    text-decoration: none;
    color: orange;

}
a:hover {
    color: orange;
    text-decoration: none;
    cursor: pointer;

}
a:active {
    color:black;
}
.text {
	position: absolute;
	left: 50%;
	transform: translate(-50%);
}




