.z-contain {
	width:600px;
	height:600px;
	background-color:#eee;
	position:relative;
}
 
.pop {
	position: absolute;
	width:300px;
	height:300px;
}
 
.pop:hover {
	z-index:1;
}
 
.one {
	top: 40px;
	left: 40px;
	background-color: lime;
 
}
 
.two {
	top: 60px;
	left: 60px;
	background-color: yellow;
	
}
 
.three {
	top: 80px;
	left: 80px;
	background-color: blue;
 
}
 
.four {
	top: 100px;
	left: 100px;
	background-color: red;
}